*{
  margin: 0;
  padding: 0;
}
/* 
.wrapper{
  overflow-x: hidden;
  overflow-y: auto;    
} */

.wrapper h1{
  margin-top: 30px;
  text-align: center;
}

.wrapper p{
  text-align: center;
  margin-top: 7px;
  font-weight: bold;
}

.wrapper .main{
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.wrapper .form-container{
  width: 500px;
  height: 358px;
  /* background-color: #e4e4e4; */
  background-color: #FED8B1;
  margin: 20px auto;
  padding: 20px;   
  border-radius: 1rem;
}

.wrapper .form-container .btn{
  width: 100%;   
  /* color: red; */
}
.updatebtn{
  color: green;

}

.wrapper .view-container{
  width: 600px;    
  /* background-color: #e4e4e4; */
  background-color: #FED8B1;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.delete-btn{
  color: black;
  /* font-size: 8.5rem; */
  cursor: pointer;
}
.delete-btn:hover{
  color: red;
}

tbody{
  margin-top: 25px;
}

@media screen and (max-width: 1150px) {
  .wrapper .view-container {
    width: 450px;
  }
 
  

}

@media screen and (max-width: 990px) {
  .wrapper .main{
flex-direction: column;
  }
  .wrapper .view-container {
    width: 500px;
    margin-top: 3rem
  }
 
  
}

@media screen and (max-width: 540px) {
  .wrapper .form-container{
    width: 400px;
  }
  .wrapper .view-container {
    width: 400px;
  }
  
}

@media screen and (max-width: 420px) {
  .wrapper .form-container{
    width: 350px;
    /* border-radius: 1rem; */
  }
  .wrapper .view-container {
    width: 350px;
  }
  
}
